Source: libvmod-xcounter
Section: web
Priority: optional
Maintainer: Shohei Tanaka(@xcir) <kokoniimasu@gmail.com>
Build-Depends: debhelper (>=9), python-docutils | python3-docutils, dh-autoreconf, pkg-config, autogen, automake, autotools-dev, autoconf, libtool, vinyl-dev (>= 7.0.0), vinyl-dev (<< 7.1.0)
Standards-Version: 3.9.6
Homepage: https://github.com/xcir/libvmod-xcounter

Package: libvmod-xcounter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vinyl (>= 7.0.0), vinyl (<< 7.1.0)
Replaces: libvmod-xcounter (<< 140)
Description: XCounter for Vinyl Cache 7.0.x
 Custom Counter
